<div class="container">
  <mat-card>
    <mat-card-header>
      <button mat-flat-button (click)="onOpenDialog('create')">new note</button>
    </mat-card-header>
    <mat-card-subtitle> total : {{ store.count() }} </mat-card-subtitle>
    <mat-card-content>
      <mat-table matSort [dataSource]="store.data()">
        @for (column of columns; track column) {
        <ng-container [matColumnDef]="column.columnDef">
          <mat-header-cell mat-sort-header mat-header-cell *matHeaderCellDef>
            {{ column.header }}
          </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let row">
            {{ column.cell(row) }}
          </mat-cell>
        </ng-container>
        }

        <mat-header-row *matHeaderRowDef="displayedColumns" />
        <mat-row
          matRipple
          *matRowDef="let row; columns: displayedColumns"
          (click)="onOpenDialog('update', row)"
        />
      </mat-table>
    </mat-card-content>
  </mat-card>
</div>
